
#sketch {
  width: 100%;
  height: 600px;
  background-image: url(/images/bg.png);
  cursor: crosshair;
  border-style: solid;
  border-color: #FF002F;
  border-radius: 2px;
  border-width: 10px;
}

#live-stream {
	width: 100%;
 	height: 600px;
 	background-image: url(/images/laser.jpg);
 	background-position: center;
 	border-style: solid;
	border-color: #FF002F;
	border-radius: 2px;
	border-width: 10px;
}

#draw, #view {
	font-size: 1.3vw;
	border: none;
}


.while-drawing {
	background: #000000;
	background: -moz-linear-gradient(left,  #000000 50%, #ffffff 50%);
	background: -webkit-gradient(linear, left top, right top, color-stop(50%,#000000), color-stop(50%,#ffffff));
	background: -webkit-linear-gradient(left,  #000000 50%,#ffffff 50%);
	background: -o-linear-gradient(left,  #000000 50%,#ffffff 50%);
	background: -ms-linear-gradient(left,  #000000 50%,#ffffff 50%);
	background: linear-gradient(to right,  #000000 50%,#ffffff 50%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#ffffff',GradientType=1 );

}

.while-viewing {
	background: #ffffff;
	background: -moz-linear-gradient(left,  #ffffff 50%, #000000 50%);
	background: -webkit-gradient(linear, left top, right top, color-stop(50%,#ffffff), color-stop(50%,#000000));
	background: -webkit-linear-gradient(left,  #ffffff 50%,#000000 50%);
	background: -o-linear-gradient(left,  #ffffff 50%,#000000 50%);
	background: -ms-linear-gradient(left,  #ffffff 50%,#000000 50%);
	background: linear-gradient(to right,  #ffffff 50%,#000000 50%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#000000',GradientType=1 );

}

#title {
	color:white;
	display: inline-block;
	position: relative;
	font-family: TimesNewRoman, "Times New Roman", Times, Baskerville, Georgia, serif;
	letter-spacing:-2px;
	font-size: 6.5vw;
	top: -1.0vh;
	left: 12.5vw;
	width: 50vw;
	font-weight:bold;
	transform : scale(1.3,1.8);
	-webkit-transform:scale(1.3,1.8);
	-moz-transform:scale(1.3,1.8);
	-ms-transform:scale(1.3,1.8);
	-o-transform:scale(1.3,1.8);
}
#colon{
	position: relative;
	top:-.5vw;
}

#description {
	display: inline-block;
	top:3.5vw;
	position: relative;
	color: black;
	font-family: TimesNewRoman, "Times New Roman", Times, Baskerville, Georgia, serif;
	letter-spacing:-1px;
	font-size: 2.5vw;
	left: 7vw;
	font-weight:bold;
	transform : scale(1.3,1.8);
	-webkit-transform:scale(1.3,1.8);
	-moz-transform:scale(1.3,1.8);
	-ms-transform:scale(1.3,1.8);
	-o-transform:scale(1.3,1.8);
}

.container {
	padding-top: 7.5vh;
}

#border {
	display: inline;
	color: #FF002F;
	float: left;
	position: absolute;
	top: 13vw;
	left: 5vw;

}


.btn-group {
	position: relative;
	text-align: center;
	font-family: "Lucida Console", "Lucida Sans Typewriter", Monaco, "Bitstream Vera Sans Mono", monospace;
}

.btn-danger {
	background-color: #FF002F;
}

#upload {
	background-image: url(/images/hex.png);
	background-size: contain;
	height: 175px;
	width: 175px;
	position: absolute;
	left: 4vw;
	top: 22vw;
}

#arrow {
	position: relative;
	top: 80px;
	left: 72px;
	cursor: pointer;
}

#filey {
	width: 70px;
	font-size: 9px;
	position: relative;
	top: 80px;
	left: 55px;
}

#direction {
	color: black;
	position: relative;
	top: 130px;
	left: 10px;
	width: 150px;
	font-size: 10px;
	text-align: center;
	font-family: "Lucida Console", "Lucida Sans Typewriter", Monaco, "Bitstream Vera Sans Mono", monospace;
}

#upload-btn {
	background-image: url(/images/upload.png);
	background-size: contain;
	background-repeat: no-repeat;
	height: 30px;
}

#upload-btn:hover {
	background-image: url(/images/upload2.png);
}

button[ng-click="uploadCanvas()"] {
	background-color: white;
	border: #FF002F solid 2px;
	border-top: none;
	position: relative;
}


button[ng-click="clearCanvas()"] {
	background-color: white;
	border: none;
	border-bottom: #FF002F solid 2px;
	background-color: #FF002F;
	position: relative;
}


#queue-length {
  clear: both;
  position: absolute;
  right: 0;
  top: 500px;
  font-size: 12px;
  font-family: "Lucida Console", "Lucida Sans Typewriter", Monaco, "Bitstream Vera Sans Mono", monospace;
  color: #fff;
  padding: 20px;
  width: 250px;
  text-align: right;
}