
    <div id='border'>
    <span class="btn-group">
          <button submit name='toggle' type="button" id='draw' ng-click='submit()' class="btn btn-danger"></button>
          <button view name='toggle' type="button" id='view' ng-click='view()' class="btn btn-default"></input>
    </span>
  </div>
  </div>
  <div id="sketch" ng-show="initial">

    <canvas id="paint"></canvas>

  </div>

  <div id='live-stream' ng-hide="initial">
    <% if (embedCode != ''){ %>
      <iframe width="100%" height="580px" src="//www.youtube.com/embed/<%= embedCode %>"
         frameborder="0" allowfullscreen></iframe>
    <% } %>
        <!-- gQfBuQk0EAw -->
  </div>

    <div id='canvasActions' class=" btn-group btn-group-justified" ng-show="initial">
      <button ng-click="uploadCanvas()">Upload Canvas Image</button>
      <button ng-click="clearCanvas()">Reset Canvas</button>
    </div>


<!-- make btn on side -->
    <div id ="upload" ng-show="initial">

      <input id="filey" type="file" ng-file-select="onFileSelect($files)" accept="image/png, image/jpg, image/bmp">
      <a id="arrow" ng-click="submitFiles(files)" ng-show="files">
        <div id="upload-btn"></div>
      </a>
      <p id="direction">please only upload jpg, png, and bitmap images that aren't too complex (i.e. no photos) </p>
    </div>

    <span ng-if='queueLength' id="queue-length">There are {{queueLength}} items in the image queue. Please wait...</span>