
    <div id='border'>
    <span class="btn-group">
          <button name='toggle' type="button" id='draw' ng-click='draw()' class="btn btn-danger">SUBMIT</input>
          <button name ='toggle' type="button" id='view' ng-click='view()' class="btn btn-default"> VIEW </input>
    </span>
  </div>
  </div>
    <div id="sketch" ng-show="initial">

      <canvas id="paint"></canvas>

    </div>

  <div id='live-stream' ng-hide="initial">
  </div>

    <div id='canvasActions'>
      <button ng-click="uploadCanvas()">Upload Canvas Image</button>
      <button>Reset Canvas</button>
    </div>


<!-- make btn on side -->
    <div id ="upload" ng-show="initial">

      <input id="filey" type="file" ng-file-select="onFileSelect($files)" accept="image/*">
      <a id="arrow" ng-click="submitFiles(files)">
        <div id="upload-btn"></div>
      </a>
      <p id='direction'> select an image and click the arrow to upload it</p>
    </div>
